body {
  background: red;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background: orange;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background: yellow;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: green;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background: blue;
  }
}
